:root {
  --primary-color: #2c2c2c;
  --secondary-color: #1c1c1c;
  --tertiary-color: #ececec;
}

html.light:root {
  --primary-color: #e4e4e4;
  --secondary-color: #e4e4e4;
  --tertiary-color: #2c2c2c;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url(/fonts/JetBrainsMono[wght].ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url(/fonts/JetBrainsMono-Italic[wght].ttf);
  font-weight: normal;
  font-style: italic;
}
.alerts {
  font-family: Arial, Helvetica, sans-serif !important;
  border-radius: 5px !important;
  color: var(--tertiary-color) !important;
  background: var(--primary-color) !important;
}

.swal2-input,
.swal2-textarea {
  width: 100% !important;
  max-width: 80%;
}

.overwrite-btn {
  background: #ffbc49 !important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.save-item__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.save-item__name {
  width: 60%;
  color: #fff;
  background: #252627 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.save-btn {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.items-saved {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.items-saved li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-saved li button {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select {
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
input[type='number'] {
  padding: 2px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
input[type='checkbox'] {
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
.config-btn {
  background: #007fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.edit-btn {
  background: #2196f3 !important;
}

.delete-btn {
  background: #f44336 !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.menu {
  width: 50px;
  background: var(--secondary-color);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .menu-btn {
  float: right;
}
.menu button {
  transition: all 0.5s ease;
  width: 50px;
  height: 50px;
  background: var(--secondary-color);
  border: none;
  color: var(--tertiary-color);
  font-size: 20px;
  cursor: pointer;
}
.menu button:hover {
  background: var(--primary-color);
}
.menu .menu-btn-toggle {
  align-self: flex-end;
}
.menu ul {
  font-family: 'Manrope', sans-serif;
  padding: 0;
  display: flex;
  flex-flow: column;
  list-style: none;
}
.menu ul li {
  transition: all 0.5s ease;
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.menu ul li svg {
  fill: var(--tertiary-color);
  height: 35px;
}
.menu span {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  margin-left: 60px;
}
.nav {
  height: 35px;
  width: 100%;
  background: var(--secondary-color);
}

#root {
  background: var(--primary-color);
  display: flex;
}
#root .main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
#root .main .code-container .code {
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#root .main .output-container {
  width: 50%;
  height: 100%;
}
#root .main .output-container .output {
  height: 100%;
  width: 100%;
  border: none;
}

.code-container {
  width: 50%;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.settings {
  transition: all 0.3s ease;
}

.settings:hover i {
  transform: rotate(90deg);
}

.dropZone {
  position: absolute !important;
  z-index: 100;
  width: 100vw !important;
  height: 100vh !important;
}
