:root {
  --primary-color: #2c2c2c;
  --secondary-color: #1c1c1c;
  --tertiary-color: #ececec;
}

html.light:root {
  --primary-color: #ffffff;
  --secondary-color: #ebebeb;
  --tertiary-color: #2c2c2c;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url(/fonts/JetBrainsMono[wght].ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url(/fonts/JetBrainsMono-Italic[wght].ttf);
  font-weight: normal;
  font-style: italic;
}
.alerts {
  font-family: Arial, Helvetica, sans-serif !important;
  border-radius: 5px !important;
  color: var(--tertiary-color) !important;
  background: var(--primary-color) !important;
}

.swal2-input,
.swal2-textarea {
  width: 100% !important;
  max-width: 80%;
}

.overwrite-btn {
  background: #ffbc49 !important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.save-item__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.save-item__name {
  width: 60%;
  color: #fff;
  background: #252627 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.save-btn {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.items-saved {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.items-saved li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-saved li button {
  background: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.config {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.config__item select {
  border-radius: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.config__item input[type='number'] {
  padding: 2px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.config__item input[type='checkbox'] {
  margin: 0;
  padding: 0;
  width: 1rem;
  height: 1rem;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}

.config__item input[type='password'],
.config__item input[type='text'] {
  margin: 0;
  padding: 10px 5px;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 5px;
}

.sidebar_chatGPT_search textarea {
  outline: none;
  width: 75%;
  resize: none;
  max-height: 200px;
  padding: 12px;
  height: 42px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.sidebar_chatGPT_search textarea::placeholder {
  color: black;
  display: flex;
  opacity: 0.4;
}

.sidebar_ChatGPT_tab {
  width: 35%;
  background-color: var(--secondary-color);
  font-family: 'Manrope', sans-serif;
  color: var(--tertiary-color);
  border-left: solid 1px var(--primary-color);
  border-right: solid 1px var(--primary-color);
  padding: 48px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: auto;
}

.sidebar_ChatGPT_tab h4 {
  text-align: center;
  font-size: clamp(14px, 1.5vw, 20px);
}

.js {
  margin: 0;
}

br {
  display: none;
}

.sidebar_chatGPT_messages {
  padding: 0;
  list-style: none;
  flex-direction: column;
  overflow: auto;
}

.sidebar_chatGPT_content {
  display: flex;
  height: 90%;
  gap: 20px;
  flex-direction: column;
  overflow: auto;
}

.sidebar_chatGPT_search {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
}

.sidebar_chatGPT_search button {
  color: var(--tertiary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.sidebar_chatGPT_search input {
  width: 60%;
}

.sidebar_chatGPT_messages_AI,
.sidebar_chatGPT_messages_HUMAN {
  width: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.sidebar_chatGPT_messages_AI code,
.sidebar_chatGPT_messages_HUMAN code {
  font-style: italic;
  font-weight: bold;
}

.sidebar_chatGPT_messages li ul,
.sidebar_chatGPT_messages li ol {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.sidebar_chatGPT_messages li pre {
  padding: 10px 0px;
  overflow: auto;
}

.sidebar_chatGPT_messages p {
  margin: 0;
  font-size: clamp(10px, 1.5vw, 18px);
  line-height: clamp(16px, 1.5vw, 24px);
}

.hljs {
  background-color: var(--secondary-color) !important;
}

.sidebar_chatGPT_messages code {
  padding: 5px;
  border-radius: 10px;
}

.sidebar_chatGPT_messages_HUMAN {
  color: var(--primary-color);
}

.sidebar_chatGPT_messages_AI {
  background-color: var(--primary-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sidebar_chatGPT_messages_HUMAN {
  background-color: var(--tertiary-color);
  margin-left: auto;
  margin-right: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sidebar_ChatGPT_tab header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar_ChatGPT_tab header button {
  color: var(--tertiary-color);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.sidebar_ChatGPT_tab header h3 {
  width: 100%;
  text-align: center;
  font-size: clamp(16px, 2vw, 24px);
  margin: 0;
}

.config-btn {
  background: #007fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.edit-btn {
  background: #2196f3 !important;
}

.delete-btn {
  background: #f44336 !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.menu {
  padding-top: 35px;
  width: 50px;
  background: var(--secondary-color);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu button {
  transition: all 0.5s ease;
  width: 50px;
  height: 50px;
  background: var(--secondary-color);
  border: none;
  color: var(--tertiary-color);
  font-size: 20px;
  cursor: pointer;
}
.menu button:hover {
  background: var(--primary-color);
}

.menu ul li:last-child {
  margin-top: auto;
  padding-bottom: 35px;
  transition: all 0.3s ease;
}

.settings {
  transition: all 0.3s ease;
}

.settings:hover i {
  transform: rotate(90deg);
}

.menu ul {
  font-family: 'Manrope', sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 100%;
  gap: 20px;
  margin: 0;
  overflow-x: hidden !important;
  overflow-y: auto;
}
.menu ul li {
  transition: all 0.5s ease;
  color: var(--tertiary-color);
}
.menu ul li svg {
  fill: var(--tertiary-color);
  height: 35px;
}
.menu span {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  margin-left: 60px;
}
.nav {
  height: 35px;
  width: 100%;
  background: var(--secondary-color);
}

#root {
  background: var(--primary-color);
  display: flex;
}
#root .main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
#root .main .code-container .code {
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#root .main .output-container {
  width: 50%;
  height: 100%;
}
#root .main .output-container .output {
  height: 100%;
  width: 100%;
  border: none;
}

.code-container {
  width: 50%;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  height: 100%;
}

.dropZone {
  position: absolute !important;
  z-index: 100;
  width: 100vw !important;
  height: 100vh !important;
}

.split-btn {
  position: fixed;
  top: 20px;
  font-size: clamp(20px, 3vw, 30px);
  cursor: pointer;
  color: var(--tertiary-color);
  background-color: transparent;
  border: none;
  right: 20px;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}
